/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

select, button {
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  background-color: #2563eb;
  color: white;
  border: none;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1d4ed8;
}
